<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div class="container p-5 my-5 bg-dark text-white text-center">
    <h1>Cerveceria JagoBrewer</h1>
    <p>La mejor cerveza de barril!</p>
  </div>


  <div class="container mt-3 text-center">
    <h2>Historia</h2>
    <p>Desde el año 2018, la cervecería "JagoBrewer" comenzó su andadura con la idea de crear la mejor cerveza de barril que haya existido jamás. Los fundadores de la cervecería, dos amigos de la universidad, tenían una pasión por la cerveza artesanal y decidieron que querían hacer algo único en el mundo de la cerveza. Con esa visión en mente, comenzaron a experimentar con diferentes ingredientes y procesos de elaboración, hasta que finalmente dieron con la receta perfecta para su cerveza de barril.

      A lo largo de los años, "JagoBrewer" ha crecido y se ha expandido la calidad y sabor excepcional de su cerveza. Los fundadores, que originalmente solo elaboraban cerveza en su garaje, ahora cuentan con un gran centro de laboracion y varios puntos de venta en todo el país.</p>
    <img src="assets/image/vasos de cerveza.jpg" class="mx-auto d-block" style="width:50%">
  </div>

  <div class="container mt-3">
    <h2>Tipos de Cerveza</h2>
    <p>Golden Ale 5% Alchool</p>
    <div class="progress" style="height:10px">
      <div class="progress-bar" style="width:40%;height:10px"></div>
    </div>
    <br>
    <p>Stout 7% Alchool</p>
    <div class="progress" style="height:20px">
      <div class="progress-bar" style="width:50%;height:20px"></div>
    </div>
    <br>
    <p>Honey 10% Alchool</p>
    <div class="progress" style="height:30px">
      <div class="progress-bar" style="width:60%;height:30px"></div>
    </div>
  </div>

  <br>

</body>
</html>



